// Specific CSS for your home-page

.events_index {
  display: flex;
}

.title-home {
  text-align: center;
  margin: 30px;
  font-size: 40px;
  padding-bottom: 28px;
  font-size: 32px;
}

.search-title {
  text-align: center;
  margin: 30px;
  font-size: 40px;
}

.grey-line {
    background-color: #dfe2e7;
    height: 1px;
    margin: 20px 0;
}

.subtitle {
  padding-bottom: 20px;
}

.DashboardContainer {
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.how-it-works{
  display: grid;
  align-items: center;
  justify-content: center;
}