
<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1530541873326-1e70f0e1502b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="searchFormContainer">
    <h1>Book unforgettable vegan experiences!</h1>
    <p>Join experiences with the main plant based chefs around.</p>
  </div>
  <div class="form">
	<form>
	  <div class="form-row align-items-center">
	    <div class="col">
	      <input type="text" class="form-control" placeholder="Select city or host">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control datepicker" placeholder="Select a date">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" placeholder="Guests">
	    </div>
	    <div class="col">
	    	<input type="submit" name="submit" value="Search" class="btn btn-primary btn-block">
	    </div>
	  </div>
	</form>
	</div>
</div>
<!-- SearchForm Home -->

<h2 class="title-home">Discover delicious vegan events near you</h2>

<!-- Card Products -->
<div class="container events_index">
  <div class="row">
  <% @events.each do |event| %>
    <div class="col-4">
      <div class="card ml-5 mb-3" style="width: 18rem;">
        <img src="https://image.flaticon.com/icons/svg/1400/1400260.svg" class="card-img-top">
      <div class="card-body">
      <h5 class="card-title"><%= event.title %></h5>
      <p class="card-text"><%= event.description %></p>
      <%= link_to "More details", event, class: "btn btn-primary" %>
      </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= link_to "Add a new event", new_event_path %>

<!-- Footer -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Vegan Place
  </div>
</div>

