.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  justify-content: space-between;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: #fff9d1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  margin-top: 10px;
  font-size: 23px;
  color: #fff9d1;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner_show {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 8px;
}

.banner_show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner_show p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

