.btn-flat {
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: #43a979;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4db886;
  color: white;
}


.btn-search {
	color: white;
	background: #F79074;
	border-radius: 4px;
	width: 100px;
}

.btn-search:hover {
	color: white;
	background: #f67d5c;
}
