.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-img-top {
  height: 16rem;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.events_index {
  display: flex;
}

.card-body{
  position: relative;
  height: 11rem;
}

.btn-details {
 position: absolute;
 bottom: 18px;
}

.card {
  position: relative;
}

.price {
  position: absolute;
  right: 20px;
  bottom: 200px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: white;
}

.card-title {
  color: #147155;
  font-weight: bold;
}

.card-text {
  color: #3D3D38;
  font-weight: 500;
}

.card-row{
  width: 100%;
}

.img-card-top {
  height: 30vh;
  object-fit: cover;
}
